html, body {
  font-family: Helvetica, 'Helvetica Neue', Neue, sans-serif, Arial;
}

* {
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid; */
}
